html, body{
    min-height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.header .container{
    background-image: url(img/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    min-height: 650px;
}